
  <!-- 
<div class="words-cloud">
    <h2>Words cloud</h2>
    <ul>
        
      <li><a href="#" class="size-1 color-1">Keyword 1</a></li>
      <li><a href="#" class="size-2 color-2">Keyword 2</a></li>
      <li><a href="#" class="size-3 color-3">Keyword 3</a></li>
      <li><a href="#" class="size-4 color-4">Keyword 4</a></li>
      <li><a href="#" class="size-5 color-2">Keyword 5</a></li>
    </ul>
  </div>
   -->

   <div class="words-cloud">
    <h2>Words cloud</h2>
    <ul id="dynamic-words-cloud"></ul>
</div>
<script type="text/plain" id="keywords-data">
["MP4", "ENCODE", "MUX", "REMUX", "ENCRYPT"]
</script>
<script src="{{ base_url }}/javascripts/keywords-cloud.js"></script>