<div id="modal" class="modal hidden">
    <div class="modal-content">
        <button id="close-modal" class="modal-close">
            <i class="fas fa-times"></i>
        </button>
        <div class="modal-header">
            <i class="fas fa-lock text-2xl"></i>
            <h2>ENCRYPT</h2>
        </div>
        <p>
            Encryption refers to the process of converting media streams into a secure format using algorithms like AES 128-bit, ensuring only authorized parties can decrypt and access the content.
        </p>
    </div>
</div>
<script src="{{ base_url }}/javascripts/modal.js"></script>