


.modal {
    z-index: 1000;
    position: absolute;
    display: none;
    /* top:-10px;
    bottom:0; 
    left:0 ;
    right: 0; */
    margin-top: 10px;
    
  
    display: none;
    justify-content: center;
    align-items: center;
    
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); 
    padding: 24px;
    width: 100%;
    
    

    transition: opacity 0.25s ease;
}

.hidden {
    display: none !important;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    font-size: 24px;
}
.modal-header__title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-header i {
    color: #d94412;
}

.modal-header h2 {
    margin-left: 8px;
    font-size: 1.25rem;
    font-weight: bold;
    color:#d94412;
}
.modal-content{
    color: black;
    line-height: 1.4;
}
.modal-content__definition{
    font-size: 16px;
    text-align: justify;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
 
     
    color: black;
}

.modal-close:hover {
    color: #4a5568;
   
}

.modal-close:hover ~ .modal-header,
.modal-close:hover ~ .modal-content__definition {
    color: #4a5568;
}

.modal-close:hover ~ .modal-header i,
.modal-close:hover ~ .modal-header h2 {
    color: #d94412e0;
}