.icon-margin-right {
    margin-right: 10px; 
  }

  .icon-color {
    color: var(--md-icon-color);
}

.icon-large {
    font-size: 20px; /* Ajustez la taille selon vos besoins */
  }
  .md-tabs__item--active .icon-color {
    color: black;
}

.md-nav__link.md-nav__link--active .fa-solid.fa-circle-question {
  display: none;
}
.md-tabs__item--active .md-tabs__item--hoover{
  color: black;
}