.md-top {
  
  border-radius: 100%;
  bottom: 1.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.1);
  color: var(--md-primary-bg-color);
  float: right;
  margin: 1.5rem;
  padding: .4rem;
  position: fixed;
  right: 0;
  z-index: 999999;
}

.md-top:hover {
  background-color: black;
}