.md-top.md-icon {
    margin-left: 70% !important;
    top: 90% !important;
    border: 1px solid black !important;
}
.md-top:focus, .md-top:hover 
    {
  background-color: none!important;
    color: white;
    border: 1px solid var(--md-default-fg-color--light)!important;
}
.md-top[hidden]{
    transition-duration: 300ms!important;
}