.md-top.md-icon {
    margin-left: 75% !important;
    top: 50% !important;
  
}
.md-top:focus, .md-top:hover 
    {
  /* background-color: var(--md-accent-bg-color--light)!important; */
  background-color: var(--md-primary-fg-color)!important;
    color: var(--md-default-fg-color--light)!important;
    border: 1px solid var(--md-default-fg-color--light)!important;
}
.md-top[hidden]{
    transition-duration: 300ms!important;
}

